# Server
NODE_ENV = 'local'
PORT = 4000
HOST = 'http://localhost'

DB_URL = 'mongodb://localhost:27017/dec'
# JWT Authentication
JWT_EXPIRATION = '2h'




#headerKey
WebKey =     ''
mobileKey = ''



# socketHost
socketHost = 'http://localhost:4000'

EMAIL_HOST = ''
EMAIL_PORT = 587
EMAIL_USER = ''
EMAIL_PASS = ''