# Server
NODE_ENV = 'local'
PORT = 4000
HOST = 'http://localhost'

# Please Add encrypted data here in all keys
DB_URL = ''

# JWT Authentication
JWT_EXPIRATION = ''



# Key & IV for env
chu_nk   = ''
part_5k  = ''

snap_part = ''
w_free    = ''


# Key & IV for request payload

# new key
chadb_url     = ''
hard_cord_url = ''

# new IV
snap_art   = ''
sudo_apply = ''


# Header key
WebKey    = ''
mobileKey = ''



# Socket host
socketHost = ''

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USER = ''
EMAIL_PASS = ''